<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <section class="vh-100" style="background-color: #508bfc;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h2 class="mb-5">Login</h2>

                            <form action="/login" method="post">
                                <div class="form-outline mb-4">
                                   
                                    <input type="text" class="form-control form-control-lg" id="username" name="username" placeholder="Username" required>
                                </div>
                                <div class="form-outline mb-4">
                                    
                                    <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="password" required>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                                <br><br>
                                <p style="color: red;">
                                    {{#if error}}
                                    {{value}}
                                    {{/if}}
                                </p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </section>

            <!-- Bootstrap & JS functionality -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>